<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head-meta.njk" %}
    {% if crawl == 'false' %}
    <meta name="robots" content="noindex">
    {% endif %}
    {% block styles %}{% endblock %}
  </head>
  <body class="{% if section  %}l--{{ section }}{% else %}l--home{% endif %}">
    <div class="l-shell" data-drawer="">

      {% include "partials/drawer-left.njk" %}

      <div class="l-drawer-overlay" aria-hidden="true"></div>

      <main class="l-main" role="main" aria-label="Main content">
        {% include "partials/archive-banner.njk" %}
        {% include "partials/site-header.njk" %}

        {# If featureImage is set but not post #}
        {% if featureImage and not page.inputPath.includes('/content/posts/') %}
          <div class="c-feature-image">
            <img src="{{ featureImage }}" alt="{{ title }}">
          </div>
        {% endif %}
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      </main>

      {% include "partials/drawer-right.njk" %}

      {% include "partials/site-footer.njk" %}

    </div>
  </body>

  {% include "partials/site-js-global.njk" %}
  {% block scripts %}{% endblock %}
</html>
