{% extends "layouts/base.njk" %}

{% block content %}
{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}

<article class="c-article c-article--single"{% if crawl != 'false' %} data-pagefind-body{% endif %}>

  {# = Feature Image #}
  {% if featured_image_url %}
    <div class="c-feature-image">
      <img src="{{ featured_image_url }}" alt="{{ alt_text if alt_text else title | safe }}">
    </div>
  {% endif %}

  <div class="l-container--lg">

    {# = Article Title #}
    <h1 class="c-heading c-heading--lg" data-pagefind-meta="title">{{ title | smartquotes }}</h1>

    {# = Article Subtitle (if exists) #}
    {% if subtitle %}
      <p class="c-subtitle">{{ subtitle | smartquotes }}</p>
    {% elif description %}
      <p class="c-subtitle">{{ description }}</p>
    {% endif %}

    {# = Article Body #}
    <div class="c-article__body">
      {{ content | safe }}
    </div>

    {# = Article Meta #}
    <div class="c-article-meta">
      <time class="c-article-meta__date" datetime="{{ date | dateISO }}" data-pagefind-meta="date:{{ date | dateMedium }}">{{ date | dateFull }}</time>
      <span class="c-article-meta__byline">by Jesse Gardner</span>
    </div>

    {# = Article Tags #}
    {% if primary_category or tags %}
      <ul class="c-tag-list" aria-label="Post tags">
        {% if primary_category %}
          <li class="c-tag c-tag--primary"><a href="/category/{{ primary_category | slugify }}/" rel="tag"><span aria-hidden="true">#</span><span class="u-visually-hidden">Category: </span>{{ primary_category | lower }}</a></li>
        {% endif %}
        {% for tag in tags %}
          <li class="c-tag"><a href="/tags/{{ tag | slugify }}/" rel="tag"><span aria-hidden="true">#</span><span class="u-visually-hidden">Tag: </span>{{ tag }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {# = End Mark Divider #}
    {% include "partials/end-mark.njk" %}

    {# = Previous / Next Navigation #}
    <nav class="l-article-nav" aria-label="Post navigation">
      {% if previousPost %}
        <div class="l-article-nav__item l-article-nav__item--prev">
          <div class="c-eyebrow">Previously:</div>
          <a href="{{ previousPost.url }}" class="c-link c-link--nav" aria-label="Previous post: {{ previousPost.data.title | smartquotes }}">{{ previousPost.data.title | smartquotes }}</a>
        </div>
      {% endif %}
      {% if nextPost %}
        <div class="l-article-nav__item l-article-nav__item--next">
          <div class="c-eyebrow">Next:</div>
          <a href="{{ nextPost.url }}" class="c-link c-link--nav" aria-label="Next post: {{ nextPost.data.title | smartquotes }}">{{ nextPost.data.title | smartquotes }}</a>
        </div>
      {% endif %}
    </nav>

  </div>
</article>

{% endblock %}
