---
permalink: 404.html
title: "❌ This is not a page."
description: "The treachery of hyperlinks."
crawl: "false"
---

{% extends "layouts/base.njk" %}

{% block content %}
  <section class="c-section">
    <div class="l-container">
      <h1 class="c-section__title">Ceci n'est pas une page.</h1>
      <p class="c-section__text"><b>This is not a page.</b> The treachery of hyperlinks lies in the inevitable entropy of the web. As time passes, the probability of finding a document at it's original URL dwindles, and link rot sets in.</p>

      <p>But you may find what you're looking for in <a href="{{ site.url }}/archive/">the full site archive</a>.</p>
    </div>
  </section>
{% endblock %}