---
permalink: 404.html
title: "This is not a page."
description: "The treachery of hyperlinks."
crawl: "false"
featureImage: "/assets/img/treachery.jpg"
---

{% extends "layouts/base.njk" %}

{% block content %}
<article class="c-article c-article--single">
  <div class="l-container--lg">

    <h1 class="c-heading c-heading--lg">{{ title }}</h1>
    <p class="c-subtitle">{{ description }}</p>

    <div class="c-article__body">
      <p>The treachery of hyperlinks lies in the inevitable entropy of the web. As time passes, the probability of finding a document at its original URL dwindles, and link rot sets in.</p>

      <p>But you may find what you're looking for in <a href="/journal/">the full site archive</a>.</p>
    </div>

    {% include "partials/end-mark.njk" %}

  </div>
</article>
{% endblock %}