---
permalink: /
title: "Plasticmind = Jesse Garnder"
description: "A blogger, technologist, and humanist."
section: "home"
eleventyNavigation:
  key: Home
  title: Home
  order: 1
"changefreq": "weekly"
"priority": "1.0"
---

{% extends "layouts/base.njk" %}

{% block content %}

  <section class="c-section">
    <div class="l-container">
      <h1 class="c-section__title--center"><b>I’m Jesse Gardner.</b> I help people use technology to promote human flourishing.</h1>
      <div class="c-section__body">

        <p>Welcome to my plasticmind. You'll find family, technology, photography, music, depression, and naval-gazing. This is me telling the story of me. The projects I’m building, the books I’m reading, the things I'm learning, and what it means to be alive and to be kind. I go deep sometime, so be warned.</p>
        
      </div>
    </div>
  </section>

{% endblock %}
