:root {

    /* # Primitive Variables */
    
    /* ## Colors */
    
    --dandelion-0: #fffcf2;
    --dandelion-100: #fff9e4;
    --dandelion-200: #fff3c6;
    --dandelion-300: #ffeda1;
    --dandelion-400: #ffe772;
    --dandelion-500: #ffe108;
    --dandelion-600: #e4c907;
    --dandelion-700: #c6ae06;
    --dandelion-800: #a18e05;
    --dandelion-900: #726504;
    
    --sunrise-0: #fff9f2;
    --sunrise-100: #fff4e4;
    --sunrise-200: #ffe8c6;
    --sunrise-300: #fedba1;
    --sunrise-400: #fecd72;
    --sunrise-500: #febf02;
    --sunrise-600: #e3ab02;
    --sunrise-700: #c59402;
    --sunrise-800: #a17901;
    --sunrise-900: #725501;
    
    --coral-0: #fff3f4;
    --coral-100: #fee6e9;
    --coral-200: #fecad0;
    --coral-300: #fdaab3;
    --coral-400: #fd8291;
    --coral-500: #fc4665;
    --coral-600: #e13f5a;
    --coral-700: #c3364e;
    --coral-800: #9f2c40;
    --coral-900: #711f2d;
    
    --azure-0: #f3f4f8;
    --azure-100: #e5e9f0;
    --azure-200: #c9d0e0;
    --azure-300: #a7b5cf;
    --azure-400: #7d94bc;
    --azure-500: #3969a7;
    --azure-600: #335e95;
    --azure-700: #2c5181;
    --azure-800: #24426a;
    --azure-900: #192f4b;
    
    --twilight-0: #f3f3f5;
    --twilight-100: #e7e6eb;
    --twilight-200: #cccad4;
    --twilight-300: #adaabb;
    --twilight-400: #87819e;
    --twilight-5000: #50447a;
    --twilight-600: #483d6d;
    --twilight-700: #3e355f;
    --twilight-800: #332b4d;
    --twilight-900: #241e37;
    
    --onyx-0: #f5f4f5;
    --onyx-100: #eae9ea;
    --onyx-200: #d2d0d2;
    --onyx-300: #b7b5b8;
    --onyx-400: #98949a;
    --onyx-500: #857f87;
    --onyx-600: #655e67;
    --onyx-700: #585159;
    --onyx-800: #493f4b;
    --onyx-900: #332f33;
    
    --neutral-0: #ffffff;
    --neutral-100: #f2f2f2;
    --neutral-200: #cccccc;
    --neutral-300: #b3b3b3;
    --neutral-400: #999999;
    --neutral-500: #808080;
    --neutral-600: #5a5a5a;
    --neutral-700: #404040;
    --neutral-800: #1a1a1a;
    --neutral-900: #000000;
    
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    
    /* -- Typography */
    
    --font-family-body: 'tablet-gothic', sans-serif;
    --font-family-heading: 'tablet-gothic-wide', sans-serif;
    --font-family-alt: 'tablet-gothic-semi-condensed', sans-serif;
    --font-family-mono: monospace;
    --font-weight: 500;
    --line-height: 1.5;
    
    /* ## Font Scale (ye olde golden ratio) */
    
    --font-scale-ratio: 1.25;
    --font-sm: calc( var(--font-md) / var(--font-scale-ratio));
    --font-md: 1.05rem;
    --font-lg: calc( var(--font-md) * var(--font-scale-ratio));
    --font-xl: calc( var(--font-lg) * var(--font-scale-ratio));
    --font-xxl: calc( var(--font-xl) * var(--font-scale-ratio));
    --font-xxxl: calc( var(--font-xxl) * var(--font-scale-ratio));
    --font-xxxxl: calc( var(--font-xxxl) * var(--font-scale-ratio));
    
    /* ## Spacing */

    /* ### General Spacing */

    --space-0: 0;
    --space-xs: 0.125rem; /* 2px */
    --space-s: 0.25rem; /* 4px */
    --space-m: 0.5rem; /* 8px */
    --space-l: 1rem; /* 16px */
    --space-xl: 2rem; /* 32px */
    --space-xxl: 4rem; /* 64px */ 
    --space-xxxl: 8rem; /* 128px */
    --space-default: var(--space-m);

    /* ## Layout */
    --max-width: 512px;
    --max-width-lg: 768px;
    --max-width-xl: 1024px;
    
    /* ## Breakpoints */
    
    --bp-sm: 320px;
    --bp-md: 768px;
    --bp-lg: 1024px;
    --bp-xl: 1280px;
    
    /* ## Border Radius */
    
    --border-radius: 0;
    
    /* ## Transitions */
    
    --transition-sm: 0.2s;
    --transition-md: 0.6s;
    --transition-lg: 1.8s;
    
    /* ## Easing */
    --transition-easing: cubic-bezier(0.23, 1, 0.32, 1);
    
    
    /* # Semantic */
    
    /* ## Colors */
    
    --color-text: var(--onyx-800);
    --color-bg-primary: var(--neutral-0);
    --color-bg: var(--color-bg-primary);
        
    --color-link: var(--azure-500);
    --color-link-hover: var(--azure-700);
    --color-link-visited: var(--azure-400);
    
    /* ## Typography */

    --font-family-primary: var(--font-family-body);

    /* ## Spacing */

    /* ### Stacking elements (vertically) */

    --space-stack-xs: 0 0 var(--space-xs) 0;
    --space-stack-s: 0 0 var(--space-s) 0;
    --space-stack-m: 0 0 var(--space-m) 0;
    --space-stack-l: 0 0 var(--space-l) 0;
    --space-stack-xl: 0 0 var(--space-xl) 0;
    --space-stack-default: var(--space-stack-m);

    /* ### Stacking elements inline (horizontally) */

    --space-inline-xs: 0 var(--space-xs) 0 0;
    --space-inline-s: 0 var(--space-s) 0 0;
    --space-inline-m: 0 var(--space-m) 0 0;
    --space-inline-l: 0 var(--space-l) 0 0;
    --space-inline-xl: 0 var(--space-xl) 0 0;
    --space-inline-default: var(--space-inline-m);

    /* ### Inset spacking (pad content from the edges of a container) */

    --space-inset-xs: var(--space-xs);
    --space-inset-s: var(--space-s);
    --space-inset-m: var(--space-m);
    --space-inset-l: var(--space-l);
    --space-inset-xl: var(--space-xl);
    --space-inset-default: var(--space-inset-m);

    /* ### "Squish" content towards the center of a container */

    /* #### Vertical padding */
    --space-inset-squish-v-xs: var(--space-xs);
    --space-inset-squish-v-s: var(--space-s);
    --space-inset-squish-v-m: var(--space-m);
    --space-inset-squish-v-l: var(--space-l);
    --space-inset-squish-v-xl: var(--space-xl);

    /* #### Horizontal padding (slightly larger) */
    --space-inset-squish-h-xs: var(--space-s);
    --space-inset-squish-h-s: var(--space-m);
    --space-inset-squish-h-m: var(--space-l);
    --space-inset-squish-h-l: var(--space-xl);
    --space-inset-squish-h-xl: var(--space-xxl);
    
    /* #### Squish shorthand */
    --space-inset-squish-xs: var(--space-inset-squish-v-xs) var(--space-inset-squish-h-xs);
    --space-inset-squish-s: var(--space-inset-squish-v-s) var(--space-inset-squish-h-s);
    --space-inset-squish-m: var(--space-inset-squish-v-m) var(--space-inset-squish-h-m);
    --space-inset-squish-l: var(--space-inset-squish-v-l) var(--space-inset-squish-h-l);
    --space-inset-squish-xl: var(--space-inset-squish-v-xl) var(--space-inset-squish-h-xl);
    --space-inset-squish-default: var(--space-inset-squish-m);

    /* ### "Stretch" content away from the center of a container */

    /* #### Vertical padding (slightly larger) */
    --space-insight-stretch-v-xs: var(--space-s);
    --space-insight-stretch-v-s: var(--space-m);
    --space-insight-stretch-v-m: var(--space-l);
    --space-insight-stretch-v-l: var(--space-xl);
    --space-insight-stretch-v-xl: var(--space-xxl);

    /* #### Horizontal padding */

    --space-insight-stretch-h-xs: var(--space-xs);
    --space-insight-stretch-h-s: var(--space-s);
    --space-insight-stretch-h-m: var(--space-m);
    --space-insight-stretch-h-l: var(--space-l);
    --space-insight-stretch-h-xl: var(--space-xl);

    /* #### Stretch shorthand */
    --space-inset-squish-xs: var(--space-inset-squish-v-xs) var(--space-inset-squish-h-xs);
    --space-inset-squish-s: var(--space-inset-squish-v-s) var(--space-inset-squish-h-s);
    --space-inset-squish-m: var(--space-inset-squish-v-m) var(--space-inset-squish-h-m);
    --space-inset-squish-l: var(--space-inset-squish-v-l) var(--space-inset-squish-h-l);
    --space-inset-squish-xl: var(--space-inset-squish-v-xl) var(--space-inset-squish-h-xl);
    --space-inset-squish-default: var(--space-inset-squish-m);

}

/* Simple Reset */

html,
body {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin-left: 0;
    padding-left: 0;
}

ul,
ol {
    list-style: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

code,
pre {
    font-family: var(--font-family-mono);
    color: var(--coral-900);
    background: var(--gray-95);
    padding: var(--space-xs) var(--space-sm);
    font-size: var(--font-sm);
}


/* Globals */

html,
body,
input,
button,
textarea,
select {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    font-size: var(--font-md);
    color: var(--black);
}


/* Headers */

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-family-heading);
    line-height: 1.1;
    color: var(--gray-20);
    margin: 0;
    padding: 0 0 var(--space-md);
    letter-spacing: 1px;
    font-weight: 600;
}

h1 {
    font-size: var(--font-xxxl);
}

h2 {
    font-size: var(--font-xxl);
}

h4 {
    font-size: var(--font-sm);
}


/* Layout */

.l-container,
.l-container--lg,
.l-container--xl {
    margin: 0 auto;
    padding: 0 var(--space-lg);
    overflow: hidden;
}

.l-container {
    max-width: var(--max-width);
}

.l-container--lg {
    max-width: var(--max-width-lg);
}

.l-container--xl {
    max-width: var(--max-width-xl);
}


/* Grids */

.l-grid {
    display: grid;
    align-items: top;
    grid-template-columns: repeat(1, 1fr);
}

.l-grid--2-col {
    grid-gap: var(--space-xl);
    grid-template-columns: repeat(12, 1fr);
}

.l-grid--2-col .l-grid__item {
    grid-column: span 6;
}


.l-grid--2-col .l-grid__item--xl {
    grid-column: span 9;
}

.l-grid--2-col .l-grid__item--lg {
    grid-column: span 7;
}

.l-grid--2-col .l-grid__item--sm {
    grid-column: span 5;
}

.l-grid--2-col .l-grid__item--xs {
    grid-column: span 3;
}


/* Article Styles */

.c-section--article ol,
.c-section--article ul {
    padding: 0 0 0 var(--space-lg);
}

.c-section--article ul li {
    list-style: square;
    margin-bottom: var(--space-lg);
}

.c-section--article ol li {
    list-style: decimal;
    margin-bottom: var(--space-lg);
}

.c-section--article li::marker {
    color: var(--blue-500);
}

blockquote {
    border-left: 4px solid var(--blue-500);
    padding: 0 0 0 calc(var(--space-lg) * 1.25);
    margin: var(--space-lg) 0 0 0;
    font-style: italic;
}

blockquote>p {
    padding: var(--space-md) 0 var(--space-lg);
}

.c-section--article .c-heading {
    margin: var(--space-xl) 0 0 0;
}


/* == Article Meta */

.c-article-meta {
    font-size: var(--font-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--space-lg) 0 0 0;
    padding: 0 0 var(--space-xl);
}

.c-article-meta>* {
    color: var(--gray-500);
    margin: 0 var(--space-lg) 0 0;
}

.c-article-meta>*::after {
    content: "•";
    margin: 0 0 0 var(--space-lg);
}

.c-article-meta>*:last-child {
    margin: 0;
}

.c-article-meta>*:last-child::after {
    content: "";
    margin: 0;
}


/* == Tags */

.c-tag-list,
ul.c-tag-list {
    margin: 0;
    padding: 0;
}

.c-tag {
    display: inline;
    margin: 0 0 0 var(--space-sm);
    padding: 0;
}


/* Components */


/* == Card */

.c-card {
    background: var(--white);
    border-radius: var(--border-radius);
    padding: var(--space-xl);
    margin: 0 0 var(--space-xl);
    border: 1px solid var(--gray-90);
}


/* == Kicker */

.c-kicker {
    display: inline-block;
    font-size: var(--font-sm);
    letter-spacing: 1px;
    text-transform: uppercase;
    background-image: linear-gradient(var(--yellow-500), var(--yellow-500));
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-size: 100% 33%;
}


/* == Section */

.c-section {
    padding: var(--space-xl) 0;
    background: var(--white);
}

.c-section--inverse {
    background: var(--gray-80);
    color: var(--white);
}

.c-section__title {
    text-align: left;
}

.c-section__title--center {
    text-align: center;
}


/* == Links */


/* Links */

a {
    color: var(--color-link);
    padding: 0 var(--space-sm);
    text-decoration: none;
    background-image: linear-gradient(var(--cyan-500), var(--cyan-500));
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 33%;
    transition: all var(--transition-md) var(--transition-easing);
}

a:hover,
a:focus {
    color: var(--color-link-hover);
    background-size: 100% 90%;
    transition: all var(--transition-sm) var(--transition-easing);
}

a:focus {
    background-size: 100% 100%;
}


/* == Avatar */

.c-avatar {
    display: block;
    margin: 0 auto var(--space-md);
}

.c-avatar img {
    border-radius: 100%;
}


/* == Form */


/* Form fields styled */

.c-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* put all fields in 2 columns */
    padding-bottom: var(--space-xxl);
}

.c-form__label {
    display: block;
    font-size: var(--font-lg);
}

.c-form__input,
.c-form__textarea,
.c-form__select {
    margin: 0 0 var(--space-xl);
    padding: var(--space-md) 0;
    border: 1px solid var(--gray-80);
    border-width: 0 0 1px 0;
    border-radius: var(--border-radius);
    font-size: var(--font-lg);
    color: var(--blue-500);
}

.c-form__input::placeholder,
.c-form__textarea::placeholder,
.c-form__select:invalid,
.c-form__select option[value=""] {
    color: var(--gray-500);
    font-size: var(--font-md);
    font-weight: normal;
}

.c-form__input:focus,
.c-form__select:focus,
.c-form__textarea:focus {
    border-width: 0 0 2px 0;
    border-color: var(--blue-500);
    color: var(--blue-500);
    outline: none;
}

.u-required::after {
    content: " * ";
    font-weight: bold;
    color: var(--red-500);
}

.c-form__select {
    cursor: pointer;
}

.c-form__textarea {
    min-height: 150px;
}

.c-button {
    margin: 0;
    padding: var(--space-md) var(--space-xxl);
    border-radius: var(--border-radius);
    color: var(--white);
    background: var(--blue-500);
    transition: all var(--transition-md) var(--transition-easing);
    display: inline-block;
    font-weight: bold;
    font-size: var(--font-md);
    align-self: flex-end;
}

.c-button:hover,
.c-button:focus {
    outline: none;
    color: var(--white);
    background-image: none;
    background-color: var(--gray-20);
    border-radius: var(--border-radius);
    transform: translateY(-2px);
    filter: drop-shadow(1px 2px 0px var(--gray-80));
    transition: transform var(--transition-sm) var(--transition-easing);
}

.c-button:active {
    background-color: var(--black) !important;
    transform: translateY(2px);
    filter: drop-shadow(0);
}


/* == Form Elements */


/* == Needs to be especially specific because CK hardcodes inline styles */

.formkit-fields {
    display: flex;
    align-items: center;
    margin-top: var(--space-xl) !important;
}


/* Fields */

.formkit-fields>div,
.formkit-fields>button {
    flex: 0 0 auto !important;
    border-radius: var(--border-radius) !important;
}


/* Input field */

.formkit-fields>div {
    margin-right: var(--space-lg) !important;
    flex: 3 0 auto !important;
}

.formkit-fields input[type="text"] {
    border-radius: var(--border-radius) !important;
}

.formkit-fields:focus-within input[type="text"] {
    border: 1px solid var(--blue-500) !important;
    border-radius: var(--border-radius) !important;
}


/* Submit button */

.formkit-fields>button,
.formkit-submit {
    padding: 0 !important;
    background-color: var(--blue-500) !important;
    font-weight: bold !important;
    border: solid 1px transparent !important;
    transition: all var(--transition-md) var(--transition-easing);
    font-size: var(--font-sm);
}

.formkit-fields>button:hover,
.formkit-fields>button:focus,
.formkit-submit:hover,
.formkit-submit:focus {
    background-color: var(--gray-20) !important;
    transform: translateY(-1px);
    filter: drop-shadow(1px 2px 0px var(--gray-80));
    transition: all var(--transition-sm) var(--transition-easing);
}

.formkit-fields>button:active {
    background-color: var(--black) !important;
    transform: translateY(1px);
    filter: drop-shadow(0);
}


/* Alert */

.formkit-alert {
    margin-top: var(--space-md);
    font-size: var(--font-sm);
    border-radius: var(--border-radius) !important;
    font-weight: bold;
}

.formkit-alert-error {
    border-color: var(--red-500) !important;
    background-color: var(--white) !important;
    color: var(--red-500) !important;
}

.formkit-alert-success {
    border-color: transparent !important;
    background-color: var(--cyan-500) !important;
    color: var(--black) !important;
}


/* == Site Header */

.c-site-header {
    text-align: center;
    position: relative;
    padding: var(--space-xl) 0;
    margin: 0 auto;
    border-bottom: solid 1px var(--twilight-100);
}

.c-site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*spacing between items*/

}

.c-site-nav .c-link {
    /* space between items */
    padding: 0 var(--space-inline-m);
}


/* == Site Logo */

.c-logo a {
    background: 0;
}

.c-logo svg {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    /* Fixes mix-blend-mode issues on Safari */
    transform: translate3d(0, 0, 0);
}

.c-logo--full svg {
    max-width: 50%;
}


/* Fun "squeeze" animation on hover */

.c-logo--full .c-logo__shape {
    cursor: ns-resize;
    transition: transform var(--transition-sm) cubic-bezier(0.34, 1.56, 0.64, 1);
}

.c-logo--full:hover .c-logo__shape:first-child {
    transform: translateY(-15px);
    transition: transform var(--transition-lg) var(--transition-easing);
}

.c-logo--full:hover .c-logo__shape:nth-child(3) {
    transform: translateY(15px);
    transition: transform var(--transition-lg) var(--transition-easing);
}

.c-logo__shape {
    mix-blend-mode: screen;
}

.c-logo--wordmark {
    margin-bottom: var(--space-xl);
}

.c-logo--icon .c-logo__shape--outline path {
    stroke: var(--gray-20);
    stroke-dasharray: 5 10;
}


/* == Contact Card */

.c-contact__item {
    margin-bottom: var(--space-xxl);
}

.c-contact__title {
    margin-bottom: var(--space-md);
    color: var(--gray-60);
    font-size: var(--font-sm);
}

address {
    font-style: normal;
}


/* == Site Footer */

.c-site-footer {
    padding: var(--space-xl) 0;
    margin: 0 auto;
}

.c-legal {
    padding: var(--space-sm) 0;
    text-align: center;
    color: var(--gray-70);
}

.c-legal a {
    padding: 0;
    color: var(--gray-70);
    background: none;
    text-decoration: underline;
}


/* == Social Links */

.c-social-links ul {
    display: grid;
    max-width: calc( 100% - var(--space-lg));
    align-items: top;
    grid-template-columns: repeat(3, 1fr);
    margin: var(--space-lg) 0 0 var(--space-lg);
    grid-gap: var(--space-lg) var(--space-xxl);
    list-style: none;
}

.c-social-links li {
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-social-links::marker {
    display: none;
}

.c-social-links .c-link__icon {
    display: inline-block;
    margin: 0 var(--space-md) 0 0;
    transform: translateY(2px);
}

.c-social-links .c-link__icon svg {
    max-width: 16px;
    height: auto;
}

.c-social-links .c-link__icon svg path {
    fill: var(--gray-40) !important;
}

.c-social-links a {
    opacity: 0.5;
    background-size: 100% 0%;
    padding: 0;
    background-image: linear-gradient(var(--gray-20), var(--gray-20));
}

.c-social-links a:hover,
.c-social-links a:focus {
    opacity: 1;
    background-size: 100% 6%;
}


/* == HR */

hr,
.c-hr {
    border: 0;
    border-top: 1px solid var(--gray-90);
    margin: var(--space-xl) auto;
    max-width: var(--max-width-lg);
}


/* == Site Footer Nav */

.c-nav {
    font-size: var(--font-lg);
    margin: 0 auto;
    max-width: var(--max-width-lg);
}

.c-nav ul {
    display: flex;
    justify-content: center;
    align-items: top;
    margin: var(--space-xl) auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-nav li {
    margin: 0 var(--space-xl);
    list-style: none;
}


/* == Post List */

.c-post-list {
    font-size: var(--font-lg);
    border-top: 1px solid var(--gray-90);
    margin: 0;
    padding: 0;
}

.c-post-list__item {
    margin-bottom: var(--space-lg);
    padding-top: var(--space-lg);
}
.c-post-list__description {
    padding-top: var(--space-md);
    font-size: var(--font-md);
    color: var(--gray-20);
}

/* == Screenshot styling, with slight dropshadow */

.c-screenshot {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

.c-screenshot img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px 0 var(--gray-80);
    /* Create a subtle rotated page effect */
    transform: rotate(2deg);
    margin: 0 auto;
    transition: all var(--transition-sm) var(--transition-easing);
}

.c-screenshot img:hover {
    box-shadow: 0 10px 15px 0 var(--gray-80);
    transform: rotate(0deg) scale(1.05);
    cursor: all-scroll;
}

.c-screenshot--right {
    float: right;
    max-width: 35%;
    padding-top: var(--space-lg);
    margin: 0 0 var(--space-xxl) var(--space-xxl);
}

/* == Pagination */
/* right align second pagination div */
.c-pagination {
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--font-sm);
    margin-top: var(--space-xl);
    padding-top: var(--space-lg);
    border-top: 1px solid var(--gray-90);
}
.c-pagination__item:nth-child(2) {
    text-align: right;
}

/* == Simple Utility Classes */

.u-hidden {
    display: none;
}

.u-center {
    text-align: center;
}

.u-right {
    text-align: right;
}

.u-left {
    text-align: left;
}

/* u-pad utility classes that match the CSS spacing variables */

.u-pad-xs {
    padding: var(--space-xs);
}

.u-pad-s {
    padding: var(--space-s);
}

.u-pad-m {
    padding: var(--space-m);
}

.u-pad-l {
    padding: var(--space-l);
}

.u-pad-xl {
    padding: var(--space-xl);
}

.u-pad-xxl {
    padding: var(--space-xxl);
}

.u-pad-xxxl {
    padding: var(--space-xxxl);
}

.u-pad-default {
    padding: var(--space-default);
}

/* u-margin utility classes that match the CSS spacing variables */

.u-margin-xs {
    margin: var(--space-xs);
}

.u-margin-s {
    margin: var(--space-s);
}

.u-margin-m {
    margin: var(--space-m);
}

.u-margin-l {
    margin: var(--space-l);
}

.u-margin-xl {
    margin: var(--space-xl);
}

.u-margin-xxl {
    margin: var(--space-xxl);
}

.u-margin-xxxl {
    margin: var(--space-xxxl);
}

.u-margin-default {
    margin: var(--space-default);
}

/* u-stack utility classes that match the CSS spacing variables */

.u-stack-xs {
    margin: var(--space-stack-xs);
}

.u-stack-s {
    margin: var(--space-stack-s);
}

.u-stack-m {
    margin: var(--space-stack-m);
}

.u-stack-l {
    margin: var(--space-stack-l);
}

.u-stack-xl {
    margin: var(--space-stack-xl);
}

.u-stack-default {
    margin: var(--space-stack-default);
}

/* u-inline utility classes that match the CSS spacing variables */

.u-inline-xs {
    margin: var(--space-inline-xs);
}

.u-inline-s {
    margin: var(--space-inline-s);
}

.u-inline-m {
    margin: var(--space-inline-m);
}

.u-inline-l {
    margin: var(--space-inline-l);
}

.u-inline-xl {
    margin: var(--space-inline-xl);
}

.u-inline-default {
    margin: var(--space-inline-default);
}

/* u-inset utility classes that match the CSS spacing variables */

.u-inset-xs {
    padding: var(--space-inset-xs);
}

.u-inset-s {
    padding: var(--space-inset-s);
}

.u-inset-m {
    padding: var(--space-inset-m);
}

.u-inset-l {
    padding: var(--space-inset-l);
}

.u-inset-xl {
    padding: var(--space-inset-xl);
}

.u-inset-default {
    padding: var(--space-inset-default);
}

/* u-squish utility classes that match the CSS spacing variables */

.u-squish-xs {
    padding: var(--space-inset-squish-xs);
}

.u-squish-s {
    padding: var(--space-inset-squish-s);
}

.u-squish-m {
    padding: var(--space-inset-squish-m);
}

.u-squish-l {
    padding: var(--space-inset-squish-l);
}

.u-squish-xl {
    padding: var(--space-inset-squish-xl);
}

.u-squish-default {
    padding: var(--space-inset-squish-default);
}

/* u-stretch utility classes that match the CSS spacing variables */

.u-stretch-xs {
    padding: var(--space-insight-stretch-xs);
}

.u-stretch-s {
    padding: var(--space-insight-stretch-s);
}

.u-stretch-m {
    padding: var(--space-insight-stretch-m);
}

.u-stretch-l {
    padding: var(--space-insight-stretch-l);
}

.u-stretch-xl {
    padding: var(--space-insight-stretch-xl);
}

/* u-squish utility classes that match the CSS spacing variables */

.u-squish-xs {
    padding: var(--space-inset-squish-xs);
}

.u-squish-s {
    padding: var(--space-inset-squish-s);
}

.u-squish-m {
    padding: var(--space-inset-squish-m);
}

.u-squish-l {
    padding: var(--space-inset-squish-l);
}

.u-squish-xl {
    padding: var(--space-inset-squish-xl);
}

.u-squish-default {
    padding: var(--space-inset-squish-default);
}

/* Directional Padding / Margin Utility Classes */

.u-pad-t-0 {
    padding-top: 0;
}

.u-pad-r-0 {
    padding-right: 0;
}

.u-pad-b-0 {
    padding-bottom: 0;
}

.u-pad-l-0 {
    padding-left: 0;
}

.u-margin-t-0 {
    margin-top: 0;
}

.u-margin-r-0 {
    margin-right: 0;
}

.u-margin-b-0 {
    margin-bottom: 0;
}

.u-margin-l-0 {
    margin-left: 0;
}


/* Simple class for wiggling an element */

.u-wiggle {
    cursor: grab;
    display: inline-block;
    animation: wiggle var(--transition-sm) infinite;
}

.u-wiggle-hover {
    cursor: grab;
    display: inline-block;
}

.u-wiggle-hover:hover {
    animation: wiggle var(--transition-sm) infinite;
}

/* Color Strip */

.c-color-strip {
    height: 8px;
    background: linear-gradient(270deg, 
        var(--dandelion-5000) 0%, 
        var(--dandelion-5000) 16%, 
        var(--sunrise-5000) 16%, 
        var(--sunrise-5000) 32%, 
        var(--coral-5000) 32%, 
        var(--coral-5000) 48%, 
        var(--azure-5000) 48%, 
        var(--azure-5000) 64%, 
        var(--twilight-5000) 64%, 
        var(--twilight-5000) 80%, 
        var(--onyx-800) 80%, 
        var(--onyx-800) 100%
    );
}


/* Fast random wiggle animation */

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* == Debug */

.c-debug {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: var(--gray-20);
    color: var(--white);
    padding: var(--space-sm);
    font-size: var(--font-size-xs);
    font-family: var(--font-family-mono);
    width: 100%;
}

.c-debug pre {
    display: inline-block;
    margin-left: var(--space-lg);
    padding-left: var(--space-lg);
    border-left: 1px solid var(--white);
}

.c-debug pre:first-child {
    border-left: 0;
}


/* Breakpoints */

@media screen and (max-width: 768px) {
    .c-site-header {
        text-align: left;
        padding: var(--space-xl) 0 var(--space-xl) 0;
    }
    .c-site-header::before {
        height: 50px;
    }
    .c-site-header--lg {
        text-align: center;
        padding: var(--space-xxl) 0 0 0;
    }
    .c-site-header--lg::before {
        height: 100px;
    }
    .c-logo--full svg {
        max-width: 45%;
    }
    .c-logo--wordmark {
        margin-bottom: var(--space-xl);
    }
    .c-logo--icon {
        width: 300%;
        overflow: hidden;
        margin-left: calc(var(--space-lg) * -1);
    }
    .c-logo--icon svg {
        margin-left: -66%;
    }
    .c-section {
        padding: var(--space-xl) 0;
    }
    .c-avatar {
        max-width: 66%;
        margin-bottom: var(--space-xl);
    }
    .l-grid {
        grid-gap: 0;
    }
    .l-grid--2-col {
        grid-template-columns: repeat(1, 1fr);
    }
    .c-nav {
        font-size: var(--font-md);
    }
    .c-nav li {
        margin: 0 var(--space-md);
        white-space: nowrap;
    }
    .c-social-links ul {
        margin-left: var(--space-md);
        grid-gap: var(--space-lg);
    }
    .c-screenshot--right {
        float: none;
        max-width: 100%;
        margin: var(--space-xl) auto;
        padding: 0 var(--space-xxl);
    }
}

@media screen and (min-width: 768px) {
    .l-grid--2-col .l-grid__item--xs {
        text-align: right;
    }
}