{# Drawer: Left #}

<aside id="menu-drawer" class="l-drawer l-drawer--left">
  <nav class="c-nav" aria-label="Site Navigation">
    <ul class="c-nav__list">
      <li class="c-nav__item"><a href="/archives" aria-label="View Archives">Archives</a></li>
      <li class="c-nav__item"><a href="/projects" aria-label="View Projects">Projects</a></li>
      <li class="c-nav__item"><a href="/work" aria-label="View Work">Work</a></li>
      <li class="c-nav__item"><a href="/blog" aria-label="View Blog">Blog</a></li>
      <li class="c-nav__item"><a href="/" aria-label="Go to Home">Home</a></li>
    </ul>
  </nav>
  <nav class="c-toolbar" aria-label="Toolbar">
    <ul class="c-toolbar__list">
      <li><button class="c-button" aria-label="About"><i class="c-icon c-icon--info"></i></button></li>
      <li><button class="c-button" aria-label="Font Settings"><i class="c-icon c-icon--text"></i></button></li>
      <li><button class="c-button" aria-label="Search"><i class="c-icon c-icon--search"></i></button></li>
      <li><button class="c-button" aria-label="Toggle Dark Mode"><i class="c-icon c-icon--moon"></i></button></li>
    </ul>
  </nav>
</aside>