      <nav class="c-nav" aria-label="Footer navigation">
        <ul>
          <li><a href="{{ site.url }}/journal" class="c-link">Journal</a></li>
          <li><a href="{{ site.url }}/archives" class="c-link">Archives</a></li>
          <li><a href="{{ site.url }}/work" class="c-link">Work</a></li>
          <li><a href="{{ site.url }}/contact" class="c-link">Contact</a></li>
        </ul>
      </nav>