      <nav class="c-nav" role="navigation" aria-label="Site Navigation">
        <ul>
          <li><a href="{{ site.url }}/journal" class="c-link" title="Journal">Journal</a></li>
          <li><a href="{{ site.url }}/work" class="c-link" title="Work">Work</a></li>
          <li><a href="{{ site.url }}/contact" class="c-link" title="Contact">Contact</a></li>
        </ul>
      </nav>