      <section class="c-site-header">
        <div class="l-container">
          <div class="l-row">
            <div class="l-col-fill">
              <div class="c-logo">
                <a href="{{site.url}}" title="← Home">
                  {% include "svg/logo-plasticmind-color.svg" %}
                </a>
              </div>
            </div>
            <div class="l-col-fill">
              {% include "partials/site-nav.njk" %}
            </div>
          </div>
        </div>
      </section>