
      <footer class="c-subfooter">
        <div class="c-color-strip"></div>
        <div class="l-container">
          <div class="l-row">
            <div class="l-col-fill">
              <div class="c-avatar">
                <img class="c-avatar__img" src="/assets/img/jesse-avatar.jpg" alt="Jesse Gardner">
              </div>
            </div>
            <div class="l-col-fill">
              <p>Hi, I'm Jesse Gardner, a blogger, technologist, and humanist. I help people use technology to promote human flourishing. I've been at the intersection of design and engineering for nearly 20 years, as both a solo entrepreneur and in leadership at large organizations.</p>
              <div class="c-social-links">
                <ul>
                  <li><a href="https://linkedin.com/in/plasticmind/" class="c-link" target="_blank" rel="noopener noreferrer" title="Connecting with professionals on LinkedIn.">LinkedIn</a></li>
                  <li><a href="https://x.com/plasticmind" class="c-link" target="_blank" rel="noopener noreferrer" title="Connecting with people on X.">X</a></li>
                  <li><a href="https://adplist.org/mentors/jesse-gardner" class="c-link" target="_blank" rel="noopener noreferrer" title="Mentoring people on ADPList.">ADPList</a></li>
                  <li><a href="https://tiktok.com/@plasticmind" class="c-link" target="_blank" rel="noopener noreferrer" title="Teaching people on TikTok.">TikTok</a></li>
                </ul>
              </div>
            </div>
          </div>


        </div>
      </footer>
      <div class="c-footer">
        <div class="l-container">
          <div class="l-row">
            <div class="l-col-fill">©{{ site.buildDate|dateYear }} Jesse Gardner</div>
            <div class="l-col-fill"><span class="u-wiggle-hover">❤︎</span> It's nice to have you here.</div>
          </div>
        </div>
      </div>

